/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #474e68;
  color: white;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.main-container {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
}

.main-container.showing-pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  .pokeball {
    position: fixed;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}
.fixed-center {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* Style for scrollbar track */
::-webkit-scrollbar {
  background-color: #522323;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #00000052;
  border-radius: 13px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #00000000;
  width: 22px;
}

.inventory {
  background-size: 100% 100%;
  width: 800px;
  margin: auto;
  min-height: 575px;
  overflow-y: hidden;
  padding: 75px;
  padding-bottom: 100px;

  @media (max-width: 768px) {
    width: 100%;
    padding: 45px;
    padding-bottom: 45px;
  }

  .inventory-pokemon-list {
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    display: grid;
    gap: 15px;
    max-height: 400px;
    margin: auto;
    padding-bottom: 5px;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      padding-left: 15px;
      padding-right: 0px;
    }
    & > div {
      width: 100px;
      height: 80px;
      background-color: #0000001f;
      margin-top: 3px;
      border-radius: 25%;
      background-position: center;
      background-size: 75%;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        width: 70px;
        height: 60px;
      }
    }
  }
}

.owned {
  filter: grayscale(1);
  transition: filter 0.1s ease-in;
}

.required-login {
  width: 100dvw;
  padding-top: 42vh;
  padding-top: 42dvh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  backdrop-filter: blur(15px) contrast(0.9);
  button {
    @extend .button-54;
  }
}

/* CSS */
.button-54 {
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  border: 3px solid;

  box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black,
    3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
  border-color: black;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
