/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #474e68;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.main-container {
  min-height: 100vh;
  min-height: 100svh;
}
.disabled {
  pointer-events: none;
  opacity: 0.3;
}
.fixed-center {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.inventory {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  --inventory-size: 680px;
  @media (max-width: 768px) {
    --inventory-size: 364px;
  }
  width: var(--inventory-size);
  padding: 40px 32px;
  padding-bottom: 0;
  .inventory-control {
    position: absolute;
    width: 97%;
    top: 0;
    height: 27px;
    left: 10px;
    @media (max-width: 768px) {
      top: 15px;
    }
  }
  .inventory-control-2 {
    position: absolute;
    width: 27px;
    top: 0;
    height: 100%;
    left: 20px;
    @media (max-width: 768px) {
      left: 14px;
    }
  }
  .inventory-control-3 {
    position: absolute;
    width: 27px;
    top: 0;
    height: 100%;
    right: 20px;
    @media (max-width: 768px) {
      right: 14px;
    }
  }

  .inventory-pokemon-list {
    display: grid;
    column-gap: 20px;
    max-width: calc(var(--inventory-size) - 150px);
    margin: auto;
    padding-bottom: 5px;
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 30px;
      max-width: fit-content;
    }
    & > div {
      min-width: 40px;
      min-height: 60px;
      background-color: #0000001f;
      margin-top: 3px;

      border-radius: 25%;
      background-size: cover;
      background-position: center;
      @media (max-width: 768px) {
        min-width: 61px;
        min-height: 72px;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 55px;
    height: 306px;
    width: 364px;
    z-index: 1000;
    bottom: -65px;
  }
}

.owned {
  filter: grayscale(1);
  transition: filter 0.1s ease-in;
}

.main-container.showing-pokeball {
  @media (max-height: 788px) {
    align-items: start;
    padding-top: 25px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #474e68;
  }
}
